<%= provide :title, t(".title") %>
<%= render "shared/slider" %>
<section>
  <div class="container">
    <div class="row">
      <%= render "shared/sidebar" %>

      <div class="col-sm-9 padding-right">
        <%= render "shared/items" %>

        <%= render "shared/hot_items" %>

        <%= render "shared/recommend_item" %>
      </div>
    </div>
  </div>
</section>
