<%= provide :title, t(".title") %>
<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="signup-form"><!--sign up form-->
          <h2><%= t ".title_form" %></h2>
          <%= form_for @user do |f| %>
            <div class="form-group">
              <%= image_tag t(".img_user"), class: "img-circle img_user" %>
              <%= f.file_field :picture, class: "form-control" %>
              <span><%= @user.errors.messages[:picture].join(", ") %></span>
            </div>

            <%= f.text_field :name, placeholder: t(".name")+" (*)", class:
              "form-control" %>
            <span><%= @user.errors.messages[:name].join(", ") %></span>

            <%= f.text_field :email, placeholder: t(".email")+" (*)",
              class: "form-control"%>
            <span><%= @user.errors.messages[:email].join(", ") %></span>

            <%= f.password_field :password,
              placeholder: t(".password")+" (*)", class: "form-control" %>
            <span><%= @user.errors.messages[:password].join(", ") %></span>

            <%= f.password_field :password_confirmation, placeholder:
              t(".pass_confirm")+" (*)", class: "form-control" %>
            <span>
              <%= @user.errors.messages[:password_confirmation].join(", ") %>
            </span>

            <%= f.text_field :phone, placeholder: t(".phone")+" (*)",
              class: "form-control" %>
            <span><%= @user.errors.messages[:phone].join(", ") %></span>

            <%= f.text_field :address, placeholder: t(".address") %>

            <%= f.submit t(".title"), class: "btn btn-primary" %>
          <% end %>
        </div><!--/sign up form-->
      </div>
    </div>
  </div>
</section><!--/form-->
