<section id="form">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="login-form">
          <h2><%= t("devise.label.change_ur_pass") %></h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

            <div class="field">
              <%= f.label :password, t("devise.label.newpass") %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> <%= t("devise.label.char_mini") %>)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: t("devise.label.new_pass") %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, t("devise.label.cf_new_pass") %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit t("devise.label.change_pass") %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
