<%= provide :title, t(".title") %>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t ".category" %></th>
        <th><%= t ".title" %></th>
        <th><%= t ".description" %></th>
        <th><%= t ".new_category" %></th>
        <th></th>
        <th><%= t ".username" %></th>
        <th><%= t ".status" %></th>
        <th colspan="2" class="text-center"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @sugest %>
    </tbody>
  </table>
  <%= will_paginate @sugest, class: "btn btn-success" %>
</div>
