<section id="form">
  <!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="login-form">
          <!--login form-->
          <h2><%= t ".title_signin" %></h2>
          <%= form_for(resource, as: resource_name,
            url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true,
                autocomplete: t("devise.label.email") %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: t("devise.label.new_pass") %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field">
                <div class="col-md-2">
                  <%= f.check_box :remember_me %>
                </div>
                <div class="col-md-10">
                  <%= f.label :remember_me %>
                </div>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit t("devise.label.signin") %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
        <!--/login form-->
      </div>
    </div>
  </div>
</section>
<!--/form-->
