<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <%= link_to image_tag(product.picture.url.to_s), product,class: "pic-1", alt: t("products.alt_img") %>
        <h2><%= number_to_currency product.price %></h2>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="rateyo-small"></div>
            <p class="avg_point hidden"><%= product.avg_rating %></p>
          </div>
        </div>
        <p><h2><%= product.name %></h2></p>
        <% if logged_in? %>
          <%= form_for @order_item, remote: true do |f| %>
            <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.hidden_field :price, value: product.price %>
            <%= f.button :submit, class: "btn btn-default add-to-cart" do %>
              <i class="fa fa-shopping-cart"></i> <%= t("label.add_cart") %>
            <% end %>
          <% end %>
        <% else %>
          <a href="/login" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i> <%= t("label.add_cart") %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "rating" %>
