<header id="header">
  <!--header-->
  <div class="header_top">
    <!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i><%= t("web_info.phone") %></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i><%= t("web_info.email") %></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i><%= t("web_info.address") %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li><a href="#"><i class="fa fa-facebook"></i></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></i></a></li>
              <li><a href="#"><i class="fa fa-google"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header_top-->

  <div class="header-middle">
    <!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <%= image_tag("logo.png", :alt => "logo", :class => "img-thumbnail", size: "150") %>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to carts_path do %><i class="fa fa-shopping-cart"></i><%= t("label.cart") %>
                 <% if logged_in? %>
                  <span class="cart-text"><%= current_order.order_items.size %>
                  </span>
                 <% end %>
                <% end %>
              </li>
              <% if logged_in? %>
                <li>
                  <%= link_to current_user do %>
                    <i class="fa fa-user" ></i><%= t("label.account") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to logout_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i><%= t("label.log_out") %>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to login_path do %>
                    <i class="fa fa-lock"></i><%= t("label.login") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_path do %>
                    <i class="fa fa-sign-in"></i><%= t("label.sign_in") %></a>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-middle-->

  <div class="header-bottom fixed-top">
    <!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only"><%= t("label.toggle_navi") %></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><%= link_to root_path, class: "active" do %><%= t("label.home") %><% end %></li>
              <li class="dropdown"><a href="#"><%= t("label.categorie") %><i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="#"><%= t("label.foods") %></a></li>
                  <li><a href="#"><%= t("label.drinks") %></a></li>
                </ul>
              </li>
              <li><a href=""><%= t("label.blog") %></a></li>
              <li><a href=""><%= t("label.contact") %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="search_box pull-right">
            <input type="text" placeholder="Search" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-bottom-->
</header>
<!--/header-->
