<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "Chart.bundle", "chartkick",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div>
        <%= render "layouts/header" %>
        <div class="main_layout">
          <div class="container">
            <% flash.each do |message_type, message| %>
              <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
          </div>
          <%= yield :charts_js %>
          <%= yield %>
        </div>
        <%= render "layouts/footer" %>
    </div>
  </body>
</html>
